<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav aria-label="Page navigation" th:fragment="pagination(url, title, currentPage, totalPage)">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"
               th:classappend="${currentPage}>0?'page-link':'page-link disabled'">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="i: ${#numbers.sequence(0, totalPage)}">
            <a class="page-link" th:href="@{${url}(title=${title}, page=${i})}"
               th:text="${i}+1"
               th:classappend="${i == currentPage}?'page-item active':'page-item'">1</a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{${url}(title=${title}, page=${totalPage}-1)}" aria-label="Next"
               th:classappend="${currentPage}<${totalPage}-1?'page-link':'page-link disabled'">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>