<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:if="${type} == 'announcement'">Announcements</title>
    <title th:if="${type} == 'search'" th:text="'You are searching ...' + ${search}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments/header.html :: navibar"></nav>

<div class="container">
    <h1 class="text-center" th:if="${type} == 'announcement'">Announcements</h1>
    <h1 class="text-center" th:if="${type} == 'search'" th:text="'You are searching ...' + ${search}"></h1>

    <div th:insert="fragments/searchForm :: searchForm('/article/search')" th:if="${type} == 'search'"></div>

    <div class="card text-center mb-3" th:each="announcement : ${announcements}">
        <div class="card-body">
            <div class="d-flex card-title justify-content-between align-items-center">
                <h5 class="" th:text="${announcement.getTitle()}"></h5>
                <p class="text-muted text-end" th:text="${#dates.format(announcement.getUpdateTime(), 'yyyy-MM-dd')}"></p>
            </div>
            <p class="card-text text-truncate" th:text="${announcement.getContent()}"></p>
            <div class="text-end">
                <a href="#" class="btn btn-primary" th:href="@{/article/{id}(id=${announcement.getId()})}">Read More</a>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <nav th:insert="fragments/pagination.html :: pagination(url=${url}, title=${search}, currentPage=${currentPage}, totalPage=${totalPage})"></nav>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>