<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments/header.html :: navibar"></nav>

<div class="container text-center">
    <h2 th:text="'Articles by '+${username}"></h2>
    <table class="table table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Updated Time</th>
            <th scope="col" th:if="${username} == ${session.username}">Operation</th>
            <th scope="col" th:unless="${username} == ${session.username}"></th>

        </tr>
        </thead>
        <tbody th:each="article : ${articles}">
        <tr>
            <td th:text="${article.getTitle()}"></td>
            <td th:text="${#dates.format(article.getUpdateTime(), 'yyyy-MM-dd')}"></td>
            <td th:if="${username} == ${session.username}">
                <div class="d-grid gap-2 d-md-block">
                    <a href="/" th:href="@{/article/{id}(id=${article.getId()})}"
                       class="btn btn-sm btn-primary">Detail</a>
                    <a href="/" class="btn btn-success btn-sm" th:href="@{/article/edit/{id}(id=${article.getId()})}">Edit</a>
                    <a href="/" class="btn btn-danger btn-sm" th:href="@{/article/delete/{id}(id=${article.getId()})}">Delete</a>
                </div>

            </td>
            <td th:unless="${username} == ${session.username}">
                <a href="/" th:href="@{/article/{id}(id=${article.getId()})}"
                   class="btn btn-sm btn-primary">Read</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>