<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<nav th:insert="fragments/header.html :: navibar"></nav>

<div class="container-sm">
    <h1 th:text="${series.getName()}" class="text-center"></h1>
    <div class="text-muted text-center">
        <div>
            <a href="/" th:href="@{/user/{id}(id=${series.getUserId()})}" th:text="${author}"></a>
        </div>
        <div class="d-flex justify-content-evenly">
            <div>
                Created Time: [[${#dates.format(series.getUpdateTime(), 'yyyy-MM-dd HH:mm')}]]
            </div>
            <div>
                Updated Time: [[${#dates.format(series.getUpdateTime(), 'yyyy-MM-dd HH:mm')}]]
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid container">
        <div class="row g-5">
            <div class="list-group list-group-numbered">
                <a href="#" class="list-group-item list-group-item-action"
                   th:each="article: ${articleList.entrySet()}"
                   th:href="@{/article/{id}(id=${article.getKey()})}" th:text="${article.getValue()}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>